.detail {
    padding: 10px;
    opacity: 0.8;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    margin-right: 10%;
    margin-top: 10px;
    border-radius: 15px;
    width: 640px;
    margin-bottom: 10em;
}

@media (max-width: 657px) and (min-width: 559px) {
    .detail {
        width: 500px;
    }
}
@media (max-width: 559px) and (min-width: 400px) {
    .detail {
        width: 400px;
    }
}
@media (max-width: 399px) {
    .detail {
        width: 250px;
    }
}

