
<!-- 
<div class="actor-card">
    <h2>ACTORES</h2>
    <ul class="lista-reparto">

        <li *ngFor="let actor of actores; let i = index" class="actor" (click)="enviarActorClicado(i)" [innerText]="actor.nombre"></li>
        
    </ul>
</div> 
-->

<div class="actor-card">
    <h2>ACTORES</h2>
    <ul class="lista-reparto">
    <li *ngFor="let actor of (actores | filterPais:pais | filterGenero:{masculino: masculino, femenino: femenino} | filternombre:nombre); let i = index" class="actor" (click)="enviarActorClicado(i)" [innerText]="actor.nombre"></li>
</ul>
</div>